Ignorando arquivos.docx
Iniciando o Repositórios Local.docx
Iniciando Repositório Remoto (Servidor).docx
Instalando o Git.docx
Para saber mais-git log.docx
Salvando alterações.docx
Sincronizando os dados.docx
Vendo o histórico.docx